@font-face {
  font-family: "Newsreader";
  src: url('/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url('/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Newsreader";
  font-size: 18px;
  line-height: 1.7;
  max-width: 700px;
  width:100%;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3d3d3d;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

header nav {
  font-weight: bold;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:not(:last-child)::after {
  content: " | ";
  color: #000000;
  margin-left: 10px;
}

header nav a {
  color: #003d7a;
  text-decoration: underline;
}

header nav a:visited {
  color: #003d7a;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666666;
}

.breadcrumb a {
  color: #003d7a;
  text-decoration: underline;
}


.breadcrumb a:visited {
  color: #003d7a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family:"5by7_b";
  line-height: 1.2;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 24px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 18px;
}

p {
  margin-bottom: 5px;
}

a {
  color: #003d7a;
  text-decoration: underline;
}

a:visited {
  color: #003d7a;
}

ul, ol {
  margin-top: 2px;
  margin-bottom: 1px;
  padding-left: 40px;
}

li {
  margin-bottom: 4px;
}

table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

th, td {
  border: 1px solid #000000;
  padding: 4px 8px;
  text-align: left;
}

th {
  background-color: #cccccc;
  font-weight: bold;
}

code {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
}

pre {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
}

blockquote {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #cccccc;
}

img,
video,
iframe,
figure,
embed,
object,
audio {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 6px auto;
}
